{% extends 'base.html.twig' %}

{% block title %}Account - PenYourDreams{% endblock %}

{% block content %}
    <h1>My Account</h1>
    <p>
        Welcome <strong>{{ app.user.firstname }}</strong> in your account!<br>
        This is the place where you are able to manages all of your personal informations.
        <br>
        <hr>
        - Update password<br>
        - Add addresses<br>
        - My orders
        <hr>
{% endblock %}